@charset "utf-8";
/* CSS Document */

* {margin:0; padding:0; list-style:none;}

#div1 {width:500px; height:300px; position:relative; margin:80px auto; overflow:hidden;}
#div1 ul {position:absolute; left:0; top:0;}
#div1 ul li {width:500px; height:300px; float:left; line-height:300px; text-align:center; font-size:400%;}
#div1 ol {position:absolute; left:50%; bottom:50px; width:400px; margin-left:-200px;}
#div1 ol li {width:80px; margin:10px; float:left; background:white; height:20px;}
#div1 ol li span {display:block; height:20px; background:#03F; width:0;}