*{margin:0;padding:0;list-style:none;}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


.demo-2 {
	position:relative;
	background: #3498db;
	color: #fff;
	font-size: 100%;
	line-height: 1.25;
	height:720px;
	font-family: 'Lato', Arial, sans-serif;
	overflow-y:hidden;
}

.demo-2 .container {
	height:720px;
}

.demo-2 a {
	color: rgba(0,0,0,0.4);
	text-decoration: none;
	outline: none;
}

.demo-2 a:hover, a:focus {
	color: #fff;
}

.demo-2 section {
	padding: 0em 3% 0em;
	text-align: center;
	font-size: 1.5em;
	overflow:hidden;
}


.demo-2 .related > a {
	border: 3px solid rgba(0,0,0,0.4);;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	-webkit-transition: color 0.3s, border-color 0.3s;
	-moz-transition:color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
}

.demo-2 .related a:hover {
	border-color: #fff;
}

.demo-2 .related a img {
	max-width: 100%;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.demo-2 .related a:hover img,
.demo-2 .related a:active img {
	opacity: 1;
}

.demo-2 .related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
	font-size: 0.75em;
}

.demo-2  {
	position: relative;
}

.noscroll {
	overflow: hidden;
}
.itemList{
	    -webkit-perspective: 800px;
		-moz-perspective: 800px;
		perspective: 800px;
		transform-style: preserve-3d;
		    -webkit-transform: rotateX(0deg) rotateZ(0deg);
			-moz-transform: rotateX(0deg) rotateZ(0deg);
			transform: rotateX(0deg) rotateZ(0deg);
    transition: 0.3s all ease;
    transform-origin: center center;

    width: 10px;
    height: 10px;
    left: 0%;

}
.grid-wrap {
	margin:0 auto;
	width: 1090px;
	padding: 0;
	-webkit-perspective: 1500px;
	-moz-perspective: 1500px;
	perspective: 1500px;
	height:720px;
}

.grid {
	position:relative;
	width:1070px;
	height:720px;
	margin:0 auto;
	-webkit-transition: all 0.5s cubic-bezier(0,0,0.25,1);
	-moz-transition: all 0.5s cubic-bezier(0,0,0.25,1);
	transition: all 0.5s cubic-bezier(0,0,0.25,1);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.view-full .grid {
	-webkit-transform: translateZ(-1500px);
	-moz-transform: translateZ(-1500px);
	transform: translateZ(-1500px);
}

.grid figure,
.grid .placeholder {
	width: 150px;
	height: 150px;
	border-radius:50%;

    -webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	transform-origin:50% 50%;
}
.grid figure{transform:rotate(45deg);}
.grid .placeholder {
	    transform:rotate(45deg);
		transition:0.5s all ease;
}
.grid figure {
	margin:0;
	border-radius:50%;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
/*	    border: 5px solid #F39;
    border-right-color: #6FF;
    border-bottom-color: #FF9;
*/
}
.grid #first{position:absolute;left:0;top:120px;}
.grid #second{position:absolute;left:280px;top:180px;}
.grid #third{position:absolute;left:600px;top:250px;}
.grid #four{position:absolute;left:850px;top:200px;}
.grid figure.active {
	opacity: 0;
}
.grid .placeholder {
	pointer-events: none;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.placeholder > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.placeholder .front span {
	width: 100%;
	height: 100%;
	
}

.placeholder .back {
	background: white;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.view-full .placeholder {
	-webkit-transition: all 0.5s 0.1s cubic-bezier(0,0,0.25,1);
	-moz-transition: all 0.5s 0.1s cubic-bezier(0,0,0.25,1);
	transition: all 0.5s 0.1s cubic-bezier(0,0,0.25,1);
}

.vertical .view-full .placeholder {
	-webkit-transform: translateZ(1500px) rotateX(-179.9deg);
	-moz-transform: translateZ(1500px) rotateX(-179.9deg);
	transform: translateZ(1500px) rotateX(-179.9deg); /* FF, Chrome, can we agree on one direction, pleeease? */
}

.horizontal .view-full .placeholder {
	-webkit-transform: translateZ(1500px) rotateY(-179.9deg);
	-moz-transform: translateZ(1500px) rotateY(-179.9deg);
	transform: translateZ(1500px) rotateY(-179.9deg);
}
.grid figure img{
	display: block;
	width: 140px;
	height:140px;
	position:absolute;
	top:0;
	left:0;
    text-align: center;
    line-height: 140px;
    font-size: 28px;
		border-radius:50%;
    -webkit-transform-origin:50% 50%;
		-moz-transform-origin:50% 50%;
	transform-origin:50% 50%;
	transform:rotate(-405deg);
		    border: 5px solid #F39;
    border-right-color: #6FF;
    border-bottom-color: #FF9;
}
.grid #first img{background-image:radial-gradient(rgba(255,255,255,.2) 30%,rgba(204,153,255,.8));
    box-shadow: 0 0 4px 4px rgba(255,102,255,.3);}
.grid #second img{background-image:radial-gradient(rgba(255,255,255,.2) 30%,rgba(255,255,102,.8));box-shadow: 0 0 4px 4px rgba(255,255,255,.3);}
.grid #third img{background-image:radial-gradient(rgba(255,255,255,.2) 30%,rgba(255,102,255,.8));box-shadow: 0 0 4px 4px rgba(204,153,255,.6);}
.grid #four img{background-image:radial-gradient(rgba(255,255,255,.2) 30%,rgba(51,255,102,.8));box-shadow: 0 0 4px 4px rgba(255,255,255,.3);}
.grid figure span{
	display: block;
	width: 150px;
	height:150px;
	position:absolute;
	top:0;
	left:0;
	color:#F6C;
	border-radius:50%;
    text-align: center;
    line-height: 150px;
    font-size: 28px;
		transition:0.5s all ease;
    -webkit-transform-origin:50% 50%;
		-moz-transform-origin:50% 50%;
	transform-origin:50% 50%;
	transform:rotate(-45deg);
	
}
<!--.grid figure:hover span{transform:rotate(-45deg);}
-->


.content{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none; /* Careful, does not work in IE < 11 http://caniuse.com/#search=pointer-events */
}
/*.loading1 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none; /* Careful, does not work in IE < 11 http://caniuse.com/#search=pointer-events 
}*/

.content {
	height: 0; /* What seems to be the problem, officer? Well, we have a second scroll bar in Chrome! */
	background: #fff;
	visibility: hidden;
	z-index: 400;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
}

/*.loading1 {
	opacity: 0;
	z-index: 1;
	background: transparent url(../img/preloader.gif) no-repeat center center;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	-moz-transition: opacity 0.5s, -moz-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}*/

/*.loading1*/.show {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.content.show {
	height: auto;
	pointer-events: auto;
	visibility: visible;
}

.content > div {
	z-index: 10;
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
	height: 0;
	opacity: 0;
	background: #fff;
}

.content > div.show {
	height: auto;
	opacity: 1;	
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
	overflow-y:no-scroll;
}

.icon1{
background:url(../img/c5.png) no-repeat;
}

.close-content {
	position: fixed;
	z-index: 1000;
	top: 0;
	width:50px;
	height:50px;
	right: 20px;
	color: #aaa;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}


.content > div.show ~ .close-content {
	opacity: 1;
	pointer-events: auto;
}


/* Dummy content */

.dummy-img,
.dummy-text {
	opacity: 0;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	-moz-transition: opacity 0.5s, -moz-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

.vertical .dummy-img,
.vertical .dummy-text {
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	transform: translateY(100px);
}

.horizontal .dummy-img,
.horizontal .dummy-text {
	-webkit-transform: translateX(-100px);
	-moz-transform: translateX(-100px);
	transform: translateX(-100px);
}

.content > div.show .dummy-img,
.content > div.show .dummy-text {
	opacity: 1;
}

.vertical .content > div.show .dummy-img,
.vertical .content > div.show .dummy-text {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}

.horizontal .content > div.show .dummy-img,
.horizontal .content > div.show .dummy-text {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
}

p.dummy-text:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

p.dummy-text:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.dummy-img {
	width:800px;
	height:500px;
	background:#029df9;
	margin: 100px auto;
}

/* Simple fallback */
/* if any of these are not supported, a simple fallback will be shown */
.no-pointerevents .content,
.no-csstransforms3d .content,
.no-csstransitions .content,
.no-pointerevents .content > div,
.no-csstransforms3d .content > div,
.no-csstransitions .content > div,
.no-pointerevents .close-content,
.no-csstransforms3d .close-content,
.no-csstransitions .close-content {
	opacity: 1;
	visibility: visible;
	display: none;
	height: auto;
}

.no-pointerevents .show .close-content,
.no-csstransforms3d .show .close-content,
.no-csstransition .show .close-content,
.no-pointerevents div.show,
.no-csstransforms3d div.show,
.no-csstransitions div.show,
.no-csstransitions .dummy-img,
.no-csstransitions .dummy-text,
.no-csstransforms3d .dummy-img,
.no-csstransforms3d .dummy-text, 
.no-pointerevents .dummy-img,
.no-pointerevents .dummy-text {
	display: block !important;
	opacity: 1;
}
.dummy-text{
    width: 300px;
    height: 60px;
    background: #029df9;
    display: inline-block;
    position: absolute;
    left: 50%;
	top:0%;
    margin-left: -150px;
    line-height: 60px;
    text-align: center;
    color: white;
	font-family:'Microsoft Yahei';
	font-size:16px;
}
#details {
    width: 1000px;
    height:600px;
    left: 50%;
    margin-left: -500px;
    position: absolute;
    top:60px;
    background:white;
    -webkit-transform:translateZ(900px) rotateY(-50deg);
	-moz-transform:translateZ(900px) rotateY(-50deg);
	transform:translateZ(900px) rotateY(-50deg);
    transition: 1s all ease;
    opacity: 1;
    transform-origin: center center;
}
#conclose{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #029df9;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 0;
    cursor: pointer;
    color: white;
}
#iframek1{border:none;}
#amul{width:510px; margin:30px auto;}
#amul li{float:left; position:relative;width:150px; height:150px; line-height:150px; font-size:30px; text-align:center;background:#ccc; overflow:hidden; margin:10px;}
#amul li span{ position:absolute;left:-150px;top:0;width:150px; height:150px; background:pink;}


