
*, *:after, *:before { -webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }
*{margin:0;padding:0;list-style:none;}
@font-face {
   font-family: 'LeftistMonoSerif';
   src:
          local('LeftistMonoSerif'),
          url('font/LeftistMonoSerif.woff') format('woff'),
  }
body{
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

a {
	color: #f0f0f0;
	text-decoration: none;
	outline: none;
}
.wrap{width:100%;height:720px;overflow:hidden;position:absolute;left:0;top:0;}
.demo{ position:absolute;left:0;top:0;background: #333;width:100%;}
.demo a { color: #1c9ccd; }

a:hover, a:focus {
	color: #fff;
}
#ip-container{width:100%;background: #72d0f4;height:720px;}
.page{width:100%;height:720px;}
#page1{background:#3498db;position:relative;overflow:hidden;}
#page2{background:#F69;}
#page3{background:#C9C;}
#page4{background:#FCC;}
#page5{background:#C69;}
.ip-header {
	position: fixed;
	top: 0;
	z-index: 100;
	min-height: 480px;
	width: 100%;
	height: 100%;
	background: #f1f1f1;
}

.ip-header h1 {
	margin: 0;
}


.ip-loader {
	position: absolute;
	left: 0;
	width: 100%;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}
.ip-logo{
	position: absolute;
	left: 43%;
	display:inline-block;
	cursor: default;
	pointer-events: none;
}
.ip-logo {
	top: 30%;
	width:100px;
	-webkit-transform: translate3d(0,25%,0);
	-moz-transform: translate3d(0,25%,0);
	transform: translate3d(0,25%,0);
	 color:rgba(239,110,126,1);

	text-shadow:1px 2px 1px 2px rgba(239,110,126,0.5);
}

.ip-loader {
	bottom: 35%;
}

.ip-header .ip-inner {
	display: block;
	margin: 0 auto;
}

.ip-header .ip-logo{
	min-width: 320px;
	max-width: 480px;
	font-family:'Microsoft Yahei';
	font-style:italic;
	font-size:50px;
	font-weight:1100;
}

.ip-header .ip-loader svg path {
	fill: none;
	stroke-width: 6;
}

.ip-header .ip-loader svg path.ip-loader-circlebg {
	stroke: #ddd;
}

.ip-header .ip-loader svg path.ip-loader-circle {
	-webkit-transition: stroke-dashoffset 0.2s;
	-moz-transition: stroke-dashoffset 0.2s;
	transition: stroke-dashoffset 0.2s;
	stroke: #ef6e7e;
}

/* Content */
.ip-main {
	overflow: hidden;
	margin: 0 auto;
	padding: 160px 0 10em 0;
	max-width: 1100px;
	width: 90%;
}

.ip-main h2 {
	margin: 0;
	padding: 0.5em 0 1em;
	color: #be4856;
	text-align: center;
	font-size: 4.25em;
	font-size: 4vw;
	line-height: 1;
}
.header {
    height: 64px;
    width: 100%;
    background: #AAE3C6;
    box-shadow: 1px 1px 5px #888;
    position: fixed;
    left: 0;
    z-index: 9999;
}
.header .head_nav {
    height: 64px;
    width: 980px;
    margin: 0 auto;
}
.header .head_nav a {
    color: #fff;
}
.header .head_nav b {
    float: left;
    height: 64px;
    line-height: 64px;
    font-size: 40px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.header .head_nav b span {
    font-size: 20px;
}
.header #nav {
    width: 738px;
}
.header .head_nav ul {
    float: right;
    height: 64px;
    width: 492px;
    position: relative;
    z-index: 1;
}
.header .head_nav ul li {
    height: 64px;
    width: 123px;
    position: relative;
    z-index: 2;
    float: left;
}
.header .head_nav ul li a {
    display: inline-block;
    width: 123px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: "Microsoft Yahei";
}
.header .head_nav ul li.e_li {
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border: #FF8040 1px dashed;
    width: 121px;
    height: 62px;
    border-top: none;
}
.header .head_nav ul li a.header_active {
    color: #000;
}
.browser {
	margin: 200px auto;
	padding-top: 3%;
	width:1500px;
    height: 300px;
	border-radius: 8px;
	background:#fff;
	background-size: 100%;
	color: #d3d3d3;
}
.browser .link{
    width: 260px;
    margin: 0 10px;
    display: inline;
    height: 100%;
    float: left;
    text-align: center;
}
.browser .link .icon {
    display: inline-block;
    width: 150px;
    height: 150px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkie-transition: all 0.2s ease-out;
}
.browser .link .nav_btn {
    width: 150px;
    height: 40px;
    line-height: 40px;
    border: 2px solid rgba(0,0,0,0.5);
    display: inline-block;
    color: #2dcb70;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    left: 0;
    top: 0;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkie-transition: all 0.4s ease;
}
.browser .nav_btn .line {
    position: absolute;
    background: rgba(0,0,0,0);
    transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    -webkie-transition: 0.4s ease;
}
.browser .line_top {
    height: 2px;
    width: 0;
    left: -100%;
    top: -2px;
}
.browser .line_right {
    width: 2px;
    height: 0;
    top: -100%;
    right: -2px;
}
.browser .line_bottom {
    height: 2px;
    width: 0;
    right: -100%;
    bottom: -2px;
}
.browser .line_left {
    width: 2px;
    height: 0;
    bottom: -100%;
    left: -2px;
}
.browser .link_home .icon {
    background: url(../img/home.png) no-repeat center;
}
.browser .link_works .icon {
    background: url(../img/zuopin.png) no-repeat center;
}
.browser .link_about .icon {
    background: url(../img/wenjian.png) no-repeat center;
}
.browser .link_message .icon {
    background: url(../img/liuyan.png) no-repeat center;
}
.browser .link .icon:hover {
    transform: rotate(360deg) scale(1.3);
    -ms-transform: rotate(360deg) scale(1.3);
    -moz-transform: -rotate(360deg) scale(1.3);
    -o-transform: rotate(360deg) scale(1.3);
    -webkie-transform: rotate(360deg) scale(1.3);
}
.browser .nav_btn:hover {
    border: 2px solid rgba(255,255,255,1);
    transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    -webkie-transition: 0.4s ease;
    color: #2dcb70;
}
.browser .nav_btn:hover .line {
	background: rgba(0,0,0,1);
    transition: 0.4s ease;
     -moz-transition: 0.4s ease;
     -o-transition: 0.4s ease;
     -webkie-transition: 0.4s ease;
}
.browser .nav_btn:hover .line_top {
    left: -2px;
    width: 154px;
}

.browser .nav_btn:hover .line_right {
    top: -2px;
    height: 44px;
}

.browser .nav_btn:hover .line_bottom {
    right: -2px;
    width: 154px;
}

.browser .nav_btn:hover .line_left {
    bottom: -2px;
    height: 44px;
}

/* Animations */

/* Initial animation of header elements */
.loading .ip-logo,
.loading .ip-loader {
	opacity: 1;
	-webkit-animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
	-moz-animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loading .ip-loader {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes animInitialHeader {
	from { opacity: 0; -webkit-transform: translate3d(0,800px,0); }
}
@-moz-keyframes animInitialHeader {
	from { opacity: 0; -moz-transform: translate3d(0,800px,0); }
}

@keyframes animInitialHeader {
	from { opacity: 0; -webkit-transform: translate3d(0,800px,0); transform: translate3d(0,800px,0); }
}

/* Header elements when loading finishes */
.loaded .ip-logo,
.loaded .ip-loader {
	opacity: 1;
}

.loaded .ip-logo {
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
	-moz-animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}
@-moz-keyframes animLoadedLogo {
	to { -moz-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}
@keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

.loaded .ip-loader {
	-webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	-moz-animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}
@-moz-keyframes animLoadedLoader {
	to { opacity: 0; -moz-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}
@keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

/* Change the color of the logo */
.loaded .ip-logo{
	-webkit-transition: all 0.5s ease 0.3s;
	-moz-transition: all 0.5s ease 0.3s;
	transition: all 0.5s ease 0.3s;
	color: #fff;
}

/* Header animation when loading finishes */
.loaded .ip-header {
	-webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
	-moz-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); }
}
@-moz-keyframes animLoadedHeader {
	to { -moz-transform: translate3d(0,-100%,0); }
}
@keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}

/* Content animations */
.loaded .ip-main h2,
.loaded .ip-main .browser,
.loaded .ip-main .browser .link{
	-webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
	-moz-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loaded .ip-main .browser,
.loaded .ip-main .browser .link:first-child {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.loaded .ip-main .browser .link:nth-child(2) {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.loaded .ip-main .browser .link:nth-child(3) {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
.loaded .ip-main .browser .link:nth-child(4) {
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
	animation-delay: 0.9s;
}

@-webkit-keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: translate3d(0,200px,0); }
}
@-moz-keyframes animLoadedContent {
	from { opacity: 0; -moz-transform: translate3d(0,200px,0); }
}
@keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: translate3d(0,200px,0); transform: translate3d(0,200px,0); }
}

/* Change layout class for header */
.layout-switch .ip-header {
	position: absolute;
}

/* No JS */
.no-js .ip-header {
	position: relative;
	min-height: 0px;
}

.no-js .ip-header .ip-logo {
	margin-top: 20px;
	height: 180px;
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}

.no-js .ip-header .ip-logo {
	color: #fff;
}
.main {
    width: 1100px;
    float: left;
    margin: 0 auto;
    position: absolute;
	top:0;
}
#component .onebyone {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    opacity: 0;
    filter: alpha(opacity=0);
}
#component .onebyone span{opacity:0;filter:alpha(opacity=0);color:#000;}
.h2 {
    font-size: 36px;
}
audio {
    width: 300px;
    height: 30px;
}
#component .hotWord {
    position: relative;
    width: 300px;
    height: 225px;
    margin: 0 auto;
    font-size: 24px;
}
#component .hotWord .box {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
}
#component .hotWord ul li {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -37px;
    margin-top: -37px;
    border-radius: 50%;
    border: 0px solid red;
    line-height: 75px;
    text-align: center;
    display: none;
	color:#000;
}
#iframek{ border: none;
position: absolute;
left: 50%;
top:0;
margin-left: -674px;
width: 1349px;
height:720px;
}
#btnClose{position:absolute;right:20px;top:5px;width:63px;height:64px;background:url(../img/close.png);display:none;z-index:1;}
#onew{position:absolute;left:400px;top:300px;}
<!---------------------------------------------第二个页面-------------------------------------------------------->
