*{
    margin:0 ; padding: 0 ; list-style: none ;
}
body{
    background: #BBFFFF;
}
h1{
    width: 100%; height: 40px; line-height: 40px; text-align: center; color: #B03060;
}
.box{
    width: 400px; height: 400px; position: absolute;left: 20% ; top: 30%;
    border-radius: 50%; 
    box-shadow: 2px 3px 5px rgba(0,0,0,.6),-2px -1px 3px rgba(0,12,0,0.5);
    border:1px solid #030303;
}
.hours,.min,.sec,.cap{
    position: absolute; left: 50%; top: 50%;
    -webkit-transform-origin:center bottom;
    -moz-transform-origin:center bottom;
    transform-origin:center bottom;
}
.hours{
    width: 6px; height: 80px; background: #0A0A0A;
    
    margin-left: -3px; margin-top: -80px;
    border-radius: 50% 50% 0 0 ;
}
.min{
    width: 4px; height: 110px; background: #473C8B;
    margin-left: -2px; margin-top: -110px;
    border-radius: 50% 50% 0 0 ;
}
.sec{
    width: 2px; height: 140px; background: #8B1A1A;
    margin-left: -1px; margin-top: -140px;
    border-radius: 10px 10px 0 0 ;
}
.cap{
    width: 30px; height: 30px; border-radius: 50%;
    background: #474747; margin-left: -15px; margin-top: -15px;
}
.box span{ 
    position:absolute; left:50%;top:0; margin-left:-1px; 
    width:2px; height:6px; background:#8A8A8A; 
    -webkit-transform-origin:center 200px;
    -moz-transform-origin:center 200px;
    transform-origin:center 200px;
}
.box span.on{
    width:4px;height:10px; 
    margin-left:-2px;
    background: #836FFF;
}
.box span em{
    position: absolute;left: 50%; margin-left: -20px; top: 12px;
    text-align: center; font-style: normal;
    width: 40px;
}