*{
	margin:0;
	padding:0;
	list-style:none;
}

body{font:12px/1.5 tahoma,arial,sans-serif;}

input{outline:none;}

a{
	text-decoration: none;
	color:#000;
}

table{border-spacing:0;border-collapse:collapse; }
th,td{border:1px solid #000;}

.clearfix:after{
	content:"";
	clear:both;
	display:block;
}

.clear{
	overflow:hidden;
}



.ellipsis{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.fl{float:left;}

.fr{float:right;}

.bold{font-weight: bold;}

.noBd{border:0 none;}

.hand{cursor:pointer;}

/*.center{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-width/2;
	margin-top:-height/2;
}*/

#header,#content,#footer{width:990px; margin:0 auto;}